.left{width: 307px;float: left;height: 100%;padding-left: 10px;}
.imgtop{width: 100%;height: 349px;float: left;}
.imgtop img{margin-top: 15px;}
.nav{width: 100%;height: 365px;float: left;}
.nav ul{width: 100%;height: 100%}
.nav ul li{width: 100%;height: 48px;background: #7cc5f0;margin-bottom: 25px;list-style: none;text-align: center;line-height: 48px;color: #140b0c;font-size: 18px;}
.bot{width: 100%;}











